/* CSS files add styling rules to your content */

body, html {
  font-family: helvetica, arial, sans-serif;
  margin: 0 auto;
  padding: 0 auto;
  background-color: #000000;
  width:100%;
  height:100%;
  overflow: hidden;
}

