<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Roboto+Mono:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-87305218-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-87305218-2');
    </script>

  </head>
  <body>
    <section class="main container-fluid">
      <div class="row">
        <header class="header col-6 col-sm-4 col-md-3 col-lg-2">
          <a href="/"><div id="prospeccoes"></div></a>
          <a href="/"><div id="afetivas"></div></a>
          <a href="/"><p class="txt-center">EM TEMPOS DE PANDEMIA</p></a>
          
          <div class="menu d-none d-sm-block">
            <p><a href='/sobre' class="mainsidebar">sobre/about</a></p>
            <p><a href='/ficha-tecnica' class="mainsidebar">ficha técnica</a></p>
          </div>
          
          <span class="menu d-none d-sm-block">
            <p>PRODUÇÃO</p>
            <ul>
              <li><a href="http://medialab.unb.br/" target="_blank"><img src="/assets/apoio2.png"></a></li>
            </ul>
            <p>APOIO</p>
            <ul>
              <li><a href="https://www.instagram.com/vis.arte/" target="_blank"><img src="/assets/apoio1.png"></a></li>
              <li><a href="http://www.ida.unb.br/visuais" target="_blank"><img src="/assets/apoio3.png"></a></li>
            </ul>
            <ul>
              <li><a href="https://arturcabral.github.io/" target="_blank"><img src="/assets/apoio4.png"></a></li>
            </ul>
          </span>
        </header>
        <main class="content col col-sm-8 col-md-9 col-lg-10">
          {{ content }}
        </main>
        <header class="header d-block d-sm-none col-6 col-sm-4 col-md-3 col-lg-2">
          <!-- MOBILE -->
          <script>
             function openNav() {
               document.getElementById("mySidenav").style.width = "12em";
               document.getElementById("menuFloat").style.display = "none";

             }

             function closeNav() {
               document.getElementById("mySidenav").style.width = "0";
               document.getElementById("menuFloat").style.display = "block";

             }
            </script>

           <section class="menuMob">
              <a onclick="openNav()" >
              <p id="menuFloat"><b>≡ </b> </p>
              </a>
           </section>

            <div id="mySidenav" class="sidenav">
               <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
               <a href='/sobre' >sobre/about</a>
              <a href='/ficha-tecnica' >ficha técnica</a>

          </div>

          <span class="menu">
            <p>PRODUÇÃO</p>
            <ul>
              <li><a href="http://medialab.unb.br/" target="_blank"><img src="/assets/apoio2.png"></a></li>
            </ul>
            <p>APOIO</p>
            <ul>
              <li><a href="https://www.instagram.com/vis.arte/" target="_blank"><img src="/assets/apoio1.png"></a></li>
              <li><a href="http://www.ida.unb.br/visuais" target="_blank"><img src="/assets/apoio3.png"></a></li>
            </ul>
            <ul>
              <li><a href="https://arturcabral.github.io/" target="_blank"><img src="/assets/apoio4.png"></a></li>
            </ul>
          </span>
        </header>
      </div>
      <div class="row">
        <footer class="footer col-sm">2020 por Artur Cabral e Joenio Costa.</footer>
      </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Blotter/0.1.0/blotter.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Blotter/0.1.0/materials/liquidDistortMaterial.js"></script>
    <script src="/assets/letter.js" charset="utf-8"></script>
    <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
    </script>
  </body>
</html>
